body {
    margin: 0;
    background: #374765;
}

@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo-Regular.eot');
    src: url('../fonts/Arimo-Regular.eot?iefix') format('eot'),
    url('../fonts/Arimo-Regular.woff') format('woff'),
    url('../fonts/Arimo-Regular.ttf') format('truetype'),
    url('../fonts/Arimo-Regular.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/Arimo-Italic.eot');
    src: url('../fonts/Arimo-Italic.eot?iefix') format('eot'),
    url('../fonts/Arimo-Italic.woff') format('woff'),
    url('../fonts/Arimo-Italic.ttf') format('truetype'),
    url('../fonts/Arimo-Italic.svg#webfont') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/Arimo-Bold.eot');
    src: url('../fonts/Arimo-Bold.eot?iefix') format('eot'),
    url('../fonts/Arimo-Bold.woff') format('woff'),
    url('../fonts/Arimo-Bold.ttf') format('truetype'),
    url('../fonts/Arimo-Bold.svg#webfont') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/Arimo-BoldItalic.eot');
    src: url('../fonts/Arimo-BoldItalic.eot?iefix') format('eot'),
    url('../fonts/Arimo-BoldItalic.woff') format('woff'),
    url('../fonts/Arimo-BoldItalic.ttf') format('truetype'),
    url('../fonts/Arimo-BoldItalic.svg#webfont') format('svg');
    font-weight: bold;
    font-style: italic;
}

.container {
    text-transform: uppercase;
    width: 1099px;
    height: 612px;
    margin: 10px auto;
}

table {
    width: 1099px;
    height: 612px;
    border-collapse: collapse;

}

thead {
    width: 112px;
}

thead tr th:nth-child(1) {
    background-color: #fafafa;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
    width: 198px;
    height: 112px;
}

thead tr th:nth-child(1) p {
    font-family: Arimo, sans-serif;
    color: #484848;
    font-weight: 700;
    line-height: 2px;
    text-align: center;
}

thead tr th:nth-child(1) p:nth-child(1) {
    font-size: 14px;
}

thead tr th:nth-child(1) p:nth-child(2) {
    font-size: 20px;
}

thead tr th i {
    font-family: FontAwesome, sans-serif;
    color: #848484;
    font-size: 24px;
    font-weight: 400;
    text-align: center
}

thead tr th {
    width: 157px;
    height: 112px;
    font-family: Arimo, sans-serif;
    color: #484848;
    font-size: 24px;
    font-weight: 400;
    line-height: 5px;
    text-align: center;
    border-bottom:1px solid rgba(0,0,0,0.1)
}

thead tr th:nth-child(even) {
    background-color: #e3e3e3;
}

thead tr th:nth-child(odd) {
    background-color: #f2f2f2;
}
tbody tr th{
border-bottom:1px solid rgba(0,0,0,0.1)
}
tbody tr th:nth-child(even) {
    background-color: #e3e3e3;
}

tbody tr th:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody tr th:nth-child(1) {
    width: 198px;
    height: 166px;
    position: relative;
}

tbody tr:nth-child(1) th:nth-child(1) {
    background-color: #89c331;
}

tbody tr:nth-child(2) th:nth-child(1) {
    background-color: #f04a56;;
}

tbody tr:nth-child(3) th:nth-child(1) {
    background-color: #20807c;
}

tbody tr th:nth-child(1) p {
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    line-height: 0;
    font-family: Arimo, sans-serif;
}

tbody tr th:nth-child(1) p:nth-child(1) {
    font-family: Arimo, sans-serif;
    font-size: 24px;
    position: absolute;
    top: 10px;
    left: 28px;
}

tbody tr th:nth-child(1) p:nth-child(2) {
    position: absolute;
    top: 35px;
    left: 15px;
    font-size: 36px;
}

tbody tr th:nth-child(1) p:nth-child(3) {

    position: absolute;
    top: 46px;
    left: 55px;
    font-size: 18px;
}

tbody tr th:nth-child(1) p:nth-child(4) {
    position: absolute;
    top: 60px;
    left: 86px;
    font-size: 14px;
}

tbody tr th div {
    border-radius: 5px;
    background-color: #414141;
    width: 144px;
    height: 41px;
    position: absolute;
    top: 110px;
    left: 21px;
    font-size: 16px;
    line-height: 40px;
    font-family: Arimo, sans-serif;
    color: #ffffff;
    font-weight: 700;
}

tbody tr th div:hover {
color: greenyellow;
   transition-property: all;
    background-color: darkorange;
    transition-duration: 3s;

}



